<div class="mt-5 text-center">
  <h1 class="fw-bold mb-5">Ingrese aquí.</h1>
  <div class="col-lg-3 mx-auto">
    <form action="" method="POST">
      <div class="mb-2">
        <label for="username" class="form-label">Nombre de usuario</label>
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          placeholder="Nombre de usuario"
          required
        />
      </div>
      <div class="mb-2">
        <label for="password" class="form-label">Contraseña</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Contraseña"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary mt-2">Ingresar</button>
    </form>
    <div class="mt-4 text-start mx-auto">
      <ul>
        <% if (error) { error.forEach(function(err){%>
        <li style="font-size: 12px; color: red"><%= err.msg %></li>
        <% })}%>
      </ul>
    </div>
  </div>
</div>
